*{
  box-sizing: border-box;
}
body{
  padding: 25px;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  color: rgba(45, 45, 45, 0.7)
}
header{
  border-bottom: 1px solid rgba(177, 177, 175, 0.5);
}
header ul{
  list-style-type: none;
  margin-bottom: 25px;
}

header ul li{
  color: black;
  display: inline;
  margin-right: 50px;
  text-transform: uppercase;
}
.main{
width: 1500px;
}
.menu, .content{
  display: inline-block;
  vertical-align: top;
}

.menu{
  border-right: 1px solid rgba(177, 177, 175, 0.5);
  /*max-width: 30%;*/
  min-width: 225px;
}

.menu .container{
  padding-top: 25px;
}

.menu h2{
  color: black;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1em;
}

.menu ul {
  list-style-type: none;
  margin-bottom: 25px;
}

.menu ul li input[type="checkbox"]{
  margin-right: 10px;
  background-color: white;
}

.content{
  padding: 25px;
  width: 1200px;
}
.product-card{
  width: 320px;
  height: 340px;
  position: relative;

}

.product-wrapper.animate .product-front{
  top: 0;
  left: 0;
}
.product-wrapper{
  overflow: hidden;
  position: absolute;
  top: 10px;
  left: 10px;
  transition: all 100ms ease-out;
  width: 320px;
  height: 360px;
}

.product-wrapper.animate{
  top: 5px;
  left: 5px;
  width: 330px;
  height: 370px;
}

.product-inner{
  top: -5px;
  left: -5px;
  width: 330px;
  height: 370px;
  position: absolute;
  transition: all 100ms ease-out;
}
.product-wrapper.animate .product-inner{
  top: 0px;
  left: 0px;
}

.product-inner img{
  width: 100%;
}


.product-overlay{
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(190, 200, 237);
  width: 100%;
  height: 300px;
  opacity: 0;
  transition: all 100ms ease-out;
}



.product-wrapper.animate .product-overlay{
  opacity: 0.7;
}

.product-info{
  position: relative;
}
.info-container{
  padding: 10px;
  transition: all 100ms ease-out;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
}
.product-wrapper.animate .info-container{
  top: -120px;
}
.product-info .title{
}
.product-info .price{
  float: right;
  color: rgb(109, 136, 235);
}

.product-info h3{
  color: black;
  margin: 0;
  font-size: 1em;
}

.product-info p{
  margin: 0;
  font-size: 0.8em;
}
